<!DOCTYPE html>
<html>
<head>
  <title>URL Shortener</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>Error</h1>
  <p><%= error %></p>
  <a href="/">Try again</a>
</body>
</html>
