<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Shortener</title>
  <link rel="stylesheet" type='text/css' href="/styles.css">
</head>
<body>
  
  <h1>Short URL Generated</h1>
<div class="container">
  <p >Your short URL is: <a href="<%= shortUrl %>">https://shurlly.vercel.app/<%= shortUrl %></a></p>
  <a href="/">Shorten another URL</a>
</div>

</body>
</html>
