<!DOCTYPE html>
<html>
<head>
  <title>URL Shortener</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>Short URL Generated</h1>
  <p>Your short URL is: <a href="<%= shortUrl %>">https://shurlly.vercel.app/<%= shortUrl %></a></p>
  <a href="/">Shorten another URL</a>
</body>
</html>
