body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 4vw; /* Adjusted for better responsiveness */
  color: #ffffff;
  animation: fadeIn 1.5s ease-in-out;
  margin-top: -10vh;
}

h3 {
  font-size: 2vw; /* Adjusted for better responsiveness */
  margin-bottom: 10vh;
  color: #d1e8ff;
}

form {
  margin: 20px auto;
  width: 80vw; /* Adjusted for better responsiveness */
  max-width: 300px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideIn 1.5s ease-in-out;
}

input[type="text"] {
  width: 100%;
  padding: 1.5vh; /* Adjusted for better responsiveness */
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  box-sizing: border-box;
  font-size: 1vw; /* Adjusted for better responsiveness */
  transition: background 0.3s ease-in-out;
}

input[type="text"]::placeholder {
  color: #d1e8ff;
}

input[type="text"]:focus {
  background: rgba(255, 255, 255, 0.3);
  outline: none;
}

input[type="submit"] {
  width: 100%;
  padding: 1.5vh; /* Adjusted for better responsiveness */
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1vw; /* Adjusted for better responsiveness */
  transition: background-color 0.3s ease-in-out, transform 0.2s;
}

input[type="submit"]:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

a {
  color: #4caf50;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #45a049;
}

p {
  font-size: 2vw; /* Adjusted for better responsiveness */
  margin: 20px 0;
  animation: fadeIn 1.5s ease-in-out;
  color: #d1e8ff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
a{
  font-size: 2vw;
}
