/* styles.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  color: #333;
  font-size: 2.5rem;
  margin: 20px 0;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

h3 {
  color: #555;
  font-size: 1.5rem;
  margin: 10px 0;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

p {
  color: #666;
  font-size: 1rem;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

a {
  color: #007bff;
  text-decoration: none;
  font-size: 1rem;
  margin: 10px 0;
  animation: fadeIn 1s ease-in-out;
}

a:hover {
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1s ease-in-out;
}

input[type="text"] {
  width: 80%;
  max-width: 500px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

@media (max-width: 250px) {
  h1 {
    font-size: 11vw;
  }

  h3 {
    font-size: 1.2rem;
  }

  .container p, a {
    font-size: 6vw;
  }

  input[type="text"] {
    font-size: 0.9rem;
  }

  input[type="submit"] {
    font-size: 0.9rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}
.container p{
  font-size: 3vw ;
}
.container a{
  font-size: 3vw ;
}
